@media only screen and (orientation: landscape) {

    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main > * {
        margin: 32px 0;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title > * {
        margin: 12px 0;
    }

    #bps {
        width: 90%;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

    #bps > * {
        background: var(--bg2);;
        border-radius: 32px;
    }

    #kofi {
        flex-grow: 1;
        padding: 8px;
    }

    #kofi > iframe {
        width: 100%;
        height: 700px;
        border: none;
        border-radius: 32px;
        object-fit: cover;
    }

    #tab {
        grid-column-start: 2;
        grid-column-end: 4;
        padding: 48px 64px;
    }

    #tab > * {
        margin: 32px 0;
    }

    #tabs {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        overflow: scroll;
    }

    #tabs > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--bg3);;
        border-radius: 32px;
        padding: 16px;
        transition: all 0.25s;
    }

    #tabs > a:hover {
        filter: var(--effect);
    }

    #tabs > a > * {
        margin: 8px;
    }

    #tabs > a > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #tabs p {
        margin: 0;
    }

    #tabs > a > div > p:not(:last-of-type) {
        margin: 0 12px 0 0;
    }
}

@media only screen and (orientation: portrait) {
    #main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #main > * {
        margin: 3vh 0;
        width: 90%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title > * {
        margin: 1vh 0;
    }

    #bps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #bps > *:not(:last-of-type) {
        margin-bottom: 2vh;
    }

    #bps > * {
        background: var(--bg2);
        border-radius: 3vh;
        width: 90%;
    }

    #kofi {
        padding: 2vh;
    }

    #kofi > iframe {
        width: 100%;
        height: 50vh;
        border: none;
        border-radius: 3vh;
        object-fit: cover;
    }

    #tab {
        padding: 3vh 2vh;
    }

    #tab > * {
        margin: 1vh 0;
    }

    #tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }

    #tabs > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--bg3);;
        border-radius: 3vh;
        padding: 1vh;
        transition: all 0.25s;
        width: 90%;
    }

    #tabs > a:not(:last-of-type) {
        margin-bottom: 1vh;
    }

    #tabs > a:active {
        filter: var(--effect);
    }

    #tabs > a > * {
        margin: 0.5vh;
    }

    #tabs > a > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #tabs p {
        margin: 0;
    }

    #tabs > a > div > p:not(:last-of-type) {
        margin: 0 0.5vh 0 0;
    }
}