#main {
    width: 100%;
    text-align: center;
}

#main > *, #bulletpoints > * {
    margin: 32px 0;
}

#main > a > img {
    height: 256px;
}

#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#buttons > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 16px 24px;
    border-radius: 999px;
    background: var(--bg2);
    transition: all 0.25s;
}

#buttons > a:hover {
    filter: var(--effect);
}

#buttons > a:not(:last-of-type) {
    margin-right: 16px;
}

#buttons > a > img {
    height: 48px;
    margin-right: 16px;
}

#buttons > a > p {
    font-size: 1em;
    font-weight: bold;
}

#bulletpoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bps {
    width: 90%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

#bps > div {
    display: flex;
    flex-direction: column;
    justify-content: center; /*start ?*/
    align-items: center;
    padding: 48px 64px;
    background: var(--bg2);;
    border-radius: 32px;
    text-align: center;
}

#bps > div > * {
    margin: 16px 0;
}

#bps > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bps > div > div > img {
    height: 48px;
    margin-right: 16px;
}