@media only screen and (min-width: 769px) {

    #navbar {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }

    #navbar > img {
        width: 128px;
        cursor: pointer;
    }

    #links {
        flex-grow: 1;
    }


    #links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    #links > * {
        font-size: 1.1em;
        font-weight: bold;
        margin: 20px;
        text-decoration: none;
        transition: border-bottom 0.25s;
        border-bottom: solid 2px #00000000;
        color: inherit;
    }

    #links > *:hover {
        border-bottom: solid 2px black;
    }
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    #navbar > img {
        width: 128px;
        cursor: pointer;
    }

    #links {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    #links > *:first-of-type {
        display: none;
    }

    #links > * {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
        text-decoration: none;
        transition: border-bottom 0.25s;
        border-bottom: solid 2px #00000000;
        color: inherit;
    }

    #links > *:hover {
        border-bottom: solid 2px black;
    }
}