:root[data-theme="theme-light"] {
    --bg1: #FFFFFF;
    --bg2: #e1d4ff;
    --bg3: #cab8ff;
    --button1: #c8c2ff;
    --button2: #ABE9B3;
    --text: #1E1D2F;
    --code: #00000020;
    --gradient: linear-gradient(180deg, #415DFF 100%, #1E1D2F 100%);
    --effect: brightness(90%);
}

:root[data-theme="theme-dark"] {
    --bg1: #1E1D2F;
    --bg2: #302D41;
    --bg3: #575268;
    --button1: #7287FE40;
    --button2: #19919940;
    --text: white;
    --code: #FFFFFF20;
    --gradient: linear-gradient(180deg, #BFC9FF 100%, #7287FE 100%);;
    --effect: brightness(150%)
}